<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Слава Україні!</h1>
<h2>Героям слава!</h2>
<h3>Слава нації</h3>
<h4>Смерть ворогам</h4>
<h5>Україні</h5>
<h6>понад усе</h6>

<p><i>vgsjhdgfjhsghfgsdgjhsgdjh</i> hsdjgfhkjsdg
    sfdhsdfhsdfhg
    sdhfsdfh
    sdfhsdfh
    sdfh
</p>
<pre><font color="#ff4500" size="20" face="Arial">vgsjhdgfjhsghfgsdgjhsgdjh hsdjgfhkjsdg
sfdhsdfhsdfhg
sdhfsdfh
sdfhsdfh
    sdfh</font></pre>
<img src="static/imgs/1.png">
</body>
</html>